body {
    background-image: url(/images/admin-background.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: hsla(0, 0%, 100%, 0);
    padding: 100px;
}

.admin-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.admin-menu {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    background-color: white;
    padding: 12px 22px;
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.admin-menu img {
    width: 40px;
}

.admin-offres {
    background-color: white;
    padding: 35px 25px;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.line {
    border-bottom: 1px solid #4F4746;
    line-height: 0.5;
}

th {
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #979797;
    padding-bottom: 15px;
}

td {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
.offer-line:hover {
    color: #FE5B02;
    cursor: pointer;
}

.offer-line:hover svg {
    fill: #FE5B02;
}

.center {
    text-align: center;
}

.gear {
    padding-left: 20px;
}

.price {
    padding-left: 20px;
}

.td-icon svg{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    fill: #000000;
    width: 19px;
    height: 19px;
}

.admin-ctrl-cont {
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adm-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 200ms;
}

.adm-arrow:hover {
    scale: 1.2;
}

.admin-create-btn {
    padding: 10px 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FE5B02;
    border: none;
    transition: 200ms;
}


