*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                        /* Header*/
header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: hsla(0, 0%, 51%, 0.3);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: 700ms;
}

svg {
    width: 35px;
    height: 45px;
    margin-left: 25px;
    fill: white;
}

nav svg {
    width: 20px;
    margin-right: 20px;
}

.mini-search {
    width: 20px;
}

.logo-container {
    display: flex;
    flex-flow: row, nowrap;
    justify-content: center;
    gap: 10px;
}
.scroll {
    background-color: hsl(0, 0%, 100%);
}

.logo-scroll {
    fill: black;
}
                                        /* Slider */
.conteneur-slider{
    height: 70vh;
    position: relative;
}
.conteneur-slider img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}
.conteneur-slider img.active{
    opacity: 1;
}
                                        /* desc */

.info_rapide{
    margin: 2% 15%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(555,555,555,0.2);
    
    
}
.titre-planet{
    font-family:'Star Wars', sans-serif;
    color: ;
    font-size: 4em;
    background-color: ;
}
.liste{
    margin: 0 10%;
    color: ;
    font-size: 1.2em;
}
.prix{
    font-size: 50px;
    padding: 3%;
    background-color: white;
    border-radius: 20%;
    bottom:30%;
    right:15%;
}
.description{
    margin: 2% 15%;
    font-size: 18px;
    color: white;
    background-color: rgba(555,555,555,0.2);
}
.description p{
    max-width: 50%;
    margin: 2%;
}