body{
  display: flex;
  flex-flow:column wrap;
  
}
.login{
  margin: auto;
  margin-top: 180px;
  
}

h1 {
  font-size: 60px;
  margin-top: 200px;
  text-align: center;
}

form {
  max-width: 500px;
  margin-left: 50px;
}

label, input, textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

input[type="submit"] {
  background-color: blue;
  color: #ffffff;
  margin-top: 10px;
  cursor: pointer;
}



  .title {
   
   
    margin-top: 100px;
    text-align: center;
    
    
  }
  
 
  table {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    box-shadow: 5px 8px 5px red;
    }
    
    
  
  
  
  th {
    background-color: black;
    padding: 10px;
    text-align: left;
    color: #f2f2f2;
  }
  

  td {
   
    text-align: left;
    
  }
  
 
  tr:nth-child(odd) {
    background-color: #ffffff;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }


#chartPie{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 30%;
  
  
}

#chartLine{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 70%;
  
  
}